*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner section style start */
.banner{
    background-image: url(./images/banner/banner3.png);
    width: 100%;
    height: 800px;
    background-color: red;
    display: flex;
    align-items: center;
}
.banner-content{
    text-align: right;
    width:50%;
    margin-left: 670px;
    color: #fff;
}
.banner-title{
    font-weight: 800;
    font-size: 80px;
    line-height: 83px;
}
.banner-description{
    margin-top: 20px;
}
.contact-btn{
    margin-top: 20px;
    background-color: #fff;
    color:blue;
    font-weight: 400;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
}
/* banner section style end */

/* common style */
section{
    width: 1140px;
    margin: 130px auto;
}


/* failures section style start */
.failures-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    margin: 0 auto;
}
.failures-title{
    font-weight:700;
    font-size: 50px;
    line-height: 50px;
}
.failures-description{
    margin-top: 20px;
    font-weight:100;
    color: #6b6464;
}
.failure-list{
    margin: 20px;
    color: #6b6464;
}
.failure-list li{
    list-style: none;
    display: flex;
    margin-top: 15px;
    gap: 10px;
}
.failure-list .tik-mark{
    width: 20px;
}


/* my plans section style */
.plans-title{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}
.my-next-plans{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    gap: 100px;
}
.plan-category{
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
}
/* my plans section end */

/* mind set section start */
.mind-set{
    background-image:url(images/gradient1.png),url(images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
  
}
.mind-set-content{
    margin-left: 40px;
}
.mind-set-title{
    font-weight: 700;
    color: #fff;
    font-size: 40px;
}
.call-now-btn{
    background-color: #fff;
    color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 7px;
}
/* mind set section end */

/* footer section style */
footer{
    display: flex;
    align-items: center;
    background-color: #000;
    height: 400px;
    margin: 0 auto;
    color: #fff;
    padding:0 100px;
}
.future-title{
    font-weight: 700;
    font-size: 30px;
}
.future-container{
    display: flex;
    gap:200px;  
}
.future-description{
    margin-top: 20px;
}
.email, .phone, .social-media{
    margin-top: 20px;
}
.input-field{
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
}
.subscribe-btn{
    padding: 10px 20px;
    border:none;
    font-size: 20px;
    background-color: blue;
    color: #fff;
    border-radius: 7px;
    margin-top: 10px;
}


